<table class="table table-striped">
<thead>
<tr>
    <th width="2%" align="left"></th>
    <th width="13%" align="left">Date</th>
    <th width="25%" align="left">Topic</th>
    <th width="33%" align="left">Reading</th>
    <th width="25%" align="left">Notes</th>
</tr>
</thead> 

{% for post in site.posts reversed %}
<tr>
    <td></td>
    <td> {{ post.date | date: '%a, %b %e' }} </td>
    <td>
    {% if post.link == false %}
        {{ post.title }}
    {% else %}
         <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> 
        {% if post.slides %}
            [<a href="{{ post.path | replace: '_posts', 'slides' }}">Slides</a>]
        {% endif %}
    {% endif %}
    </td>
    <td> {{ post.reading }} </td> 
    <td> {{ post.notes }} </td> 
</tr>
{% endfor %}

</table>
